{% extends 'base.html' %}

{% block menu_local %}
{% if perms.videohosting.add_video %}
<div class="navigation-menu-element">
    видеохостинг:
</div>
<div class="navigation-menu-element">
    <a href="{% url 'videohosting:video_create' %}">[добавление видео]</a>
</div>
{% endif %}
{% endblock %}
