{% extends 'videohosting/base.html' %}

{% block content %}
<style>
.custom-file-input ~ .custom-file-label::after {
    content: "Обзор...";
}
</style>
{% if not object.video_file %}
{# TODO #}
<article>
	<h2>Загрузка файла</h2>
	<form enctype="multipart/form-data" id="video-file-upload-form">
		<div class="input-item">
			<input type="file" class="custom-file-input" name="video_file" id="video-file" accept="video/*" />
		</div>
		<div class="input-item">
			<button class="btn btn-outline-secondary" type="button" id="video-file-upload-button">Загрузить</button>
		</div>
		<div class="input-item">
			<progress id="video-file-upload-progress" value="0" max="100"></div>
		</div>
	</form>
</article>
{% endif %}
{% endblock %}

{% block misc %}
<script>
"use strict";

document.modulesLoaded['videoEdit'] = false;

function videoFileUploadAjaxResult(result)
{
	location.assign("{{ object.get_absolute_url }}");
}

function videoFileUploadProgress(e)
{
	if (e.lengthComputable)
	{
		$('#video-file-upload-progress').attr({
			'value': e.loaded,
			'max': e.total,
		}).css({'width': '' + (100 * e.loaded / e.total) + '%'});
	}
}

function videoFileUpload()
{
	$('#video-file-upload-progress').attr({
		'value': 0,
	});

	var miscParams = {
		cache: false,
		contentType: false,
		processData: false,

		xhr: function()
		{
			var myXhr = $.ajaxSettings.xhr();
			if (myXhr.upload)
			{
				myXhr.upload.addEventListener('progress', videoFileUploadProgress, false);
			}
			return myXhr;
		},
	};
	ajaxPut("{% url 'videohosting:video-upload' object.pk %}", new FormData($('#video-file-upload-form')[0]), videoFileUploadAjaxResult, undefined, miscParams);
}

function videoEditInit()
{
	$('#video-file-upload-button').click(videoFileUpload);

	moduleLoaded('videoEdit');
}

$(document).ready(videoEditInit);
</script>
{% endblock %}
