{% extends 'videohosting/base.html' %}

{% block content %}
{% load videohosting_extras %}
<article>
	<div class="video-player">
		<video controls id="videoplayer" poster="{% url 'videohosting:video_poster' object.pk %}" volume="">
			<source src="{% url 'videohosting:video_file' object.pk %}" type="video/mp4" />{# TODO #}
			Браузер не поддерживает video.
		</video>
	</div>
	<div>
		<h2>{{ object.video_name }} <strong>[# {{ object.pk }}]</strong></h2>
		<p>
			Добавил <a href="{% url 'userprofiles:user' object.author.pk %}">{{ object.author.user.username }}</a>
			{# TODO: author subscription #}
		</p>
	    <p>{{ object.description }}</p>
		<p>
			<span id="video-field-likes-count">{{ object.likes_count }}</span>
			{% if can_like %}
				<button id="video-unlike-button" {% if not user|is_liker:object %}style="display: none;"{% endif %}>
						Видео лайкнуто (отменить лайк)
				</button>
				<button id="video-like-button" {% if user|is_liker:object %}style="display: none;"{% endif %}>
						Видео не лайкнуто (поставить лайк)
				</button>
			{% endif %}
			</span>
		</p>
	</div>
	
	<h2>
		Комментарии
	</h2>
	<div class="table-responsive">
		<table class="table-list">
			<thead>
				<th scope="col">
					Дата
				</th>
				<th scope="col">
					Автор
				</th>
				<th scope="col">
					Сообщение
				</th>
			</thead>
			<tbody id="video-comments-list">
			</tbody>
		</table>
	</div>
	{% if can_comment %}
	<div>
		<h2>
			Добавление комментария
		</h2>
		<div>
			<textarea class="form-control" id="video-comment-add-text" style="width: 100%;"></textarea>
			<div>
				<button id="video-comment-add-button">Отправить</button>
			</div>
		</div>
	</div>
	{% endif %}
</article>
{% endblock %}

{% block misc %}
<script>
"use strict";

document.modulesLoaded['video'] = false;

var videoPK = Number("{{ object.pk }}");
var refreshTime = 500;

function videoDataAjaxResult(result)
{
	var isLiked = result.is_liked;
	if (isLiked)
	{
		$('#video-like-button').hide();
		$('#video-unlike-button').show();
	}
	else
	{
		$('#video-like-button').show();
		$('#video-unlike-button').hide();
	}
}

function videoGetData()
{
	ajaxGet(
		"{{ object.detail_url }}",
		{},
		videoDataAjaxResult
	);
}

function videoLikeAjaxResult(result)
{
	videoDataAjaxResult(result);
}

function videoLike(e)
{
	e.preventDefault();

	ajaxPost(
		"{{ object.like_url }}",
		{},
		videoLikeAjaxResult
	);
}

function videoUnlikeAjaxResult(result)
{
	videoDataAjaxResult(result);
}

function videoUnlike(e)
{
	e.preventDefault();

	ajaxPost(
		"{{ object.unlike_url }}",
		{},
		videoUnlikeAjaxResult
	);
}

function displayVideoComment(message)
{
	for (var i in videoCommentsElementsArray)
	{
		var videoCommentElement = $(videoCommentsElementsArray[i]);
		if (message.pk == videoCommentElement.data('pk'))
		{
			return;
		}
	}

	var videoCommentsElements = $('#video-comments-list');
	var videoCommentsElementsArray = videoCommentsElements.children().toArray();

	var pubTimeCell = $('<th scope="row"></th>')
		.text(message.pub_time);
	var authorCell = $('<th scope="row"></th>')
		.append(getUserElement(message.author));
	var textCell = $('<td></td>').text(message.text);
	var messageRow = $('<tr></tr>')
		.append(pubTimeCell)
		.append(authorCell)
		.append(textCell)
		.data('pubTime', message.pub_time)
		.data('pk', message.pk);

	if (videoCommentsElementsArray.length > 0)
	{
		$(videoCommentsElementsArray).first().before(messageRow);
	}
	else
	{
		videoCommentsElements.append(messageRow);
	}
}

function sortVideoComments()
{
	var videoCommentsElements = $('#video-comments-list');
	sortChildren(videoCommentsElements, (a, b) =>
		$(a).data('pubTime') > $(b).data('pubTime')
		? 1 : -1);
}

function videoCommentsAjaxResult(result)
{
	var messages = null;
	if ($.isArray(result))
	{
		messages = result;
	}
	else
	{
		messages = result.results;
	}
	for (var i in messages)
	{
		displayVideoComment(messages[i]);
	}
	sortVideoComments();
}

function videoCommentsAjaxResultFunc(callback)
{
	return function (result)
	{
		videoCommentsAjaxResult(result);
		callback();
	}
}

function videoCommentsGetRecent(callback, limit=10)
{
	ajaxGet(
		"{% url 'videohosting:videocomment-list' %}",
		{
			'limit': limit,
			'ordering': '-pub_time',
			'video': videoPK
		},
		videoCommentsAjaxResultFunc(callback)
	);
}

function videoCommentsGetAfterNewest()
{
	var videoCommentsElements = $('#video-comments-list').children();
	if (videoCommentsElements.length == 0)
	{
		videoCommentsGetRecent(emptyFunc);
	}
	else
	{
		var newestPubTime = videoCommentsElements.last().data('pubTime');

		ajaxGet(
			"{% url 'videohosting:videocomment-list' %}",
			{
				'pub_time_after': newestPubTime,
				'ordering': '-pub_time',
				'video': videoPK
			},
			videoCommentsAjaxResult
		);
	}
}

function videoCommentsGetBeforeOldest(limit=10)
{
	var videoCommentsElements = $('#video-comments-list').children();
	if (videoCommentsElements.length == 0)
	{
		videoCommentsGetRecent(emptyFunc);
	}
	else
	{
		var oldestPubTime = videoCommentsElements.first().data('pubTime');

		ajaxGet(
			"{% url 'videohosting:videocomment-list' %}",
			{
				'pub_time_before': oldestPubTime,
				'ordering': '-pub_time',
				'limit': limit,
				'video': videoPK
			},
			videoCommentsAjaxResult
		);
	}
}

function videoCommentAddAjaxResult(result)
{
	videoCommentsGetAfterNewest();
}

function videoCommentAdd(e)
{
	e.preventDefault();

	var messageText = $('#video-comment-add-text').val();
	if (messageText.length > 250)
	{
		$('#video-comment-add-text').val(messageText.substr(0, 1000));
	}
	else
	{
		ajaxPost(
			"{% url 'videohosting:videocomment-list' %}",
			{
				'text': messageText,
				'video': videoPK
			},
			videoCommentAddAjaxResult
		);
  		$('#video-comment-add-text').val('');
	}
}

function timerFunc()
{
	videoCommentsGetAfterNewest();
	setTimeout(timerFunc, refreshTime);
}

function videoInit()
{
	$('#video-comment-add-button').click(videoCommentAdd);
	$('#video-like-button').click(videoLike);
	$('#video-unlike-button').click(videoUnlike);

	videoCommentsGetRecent(function()
	{
		moduleLoaded('video');
		timerFunc();
	}
	);
}

$(document).ready(videoInit);
</script>
{% endblock %}

{# TODO: load some messages when rendering template #}
