{% extends 'userprofiles/base.html' %}

{% block content %}
{% load userprofiles_extras %}
<article>
	<h2>{{ object.user.username }}</h2>
	<div class="table-responsive">
		<table class="table-detail">
			<tbody>
				<tr>
					<th scope="row">
						Никнейм
					</th>
					<td>
						<span id="user-field-username">{{ object.user.username }}</span>
					</td>
				</tr>
				<tr>
					<th scope="row">
						Фамилия
					</th>
					<td>
						<span id="user-field-last-name">{{ object.user.last_name }}</span>
					</td>
				</tr>
				<tr>
					<th scope="row">
						Имя Отчество
					</th>
					<td>
						<span id="user-field-first-name">{{ object.user.first_name }}</span>
					</td>
				</tr>
				<tr>
					<th scope="row">
						Подписчики
					</th>
					<td>
						<span id="user-field-subscribers-count">{{ object.subscribers_count }}</span>
						{% if can_subscribe %}
						<button id="user-unsubscribe-button"
							{% if not user|is_subscribed:object %}style="display: none;" {% endif %}>
							Подписка оформлена (отписаться)
						</button>
						<button id="user-subscribe-button" {% if user|is_subscribed:object %}style="display: none;"
							{% endif %}>
							Подписка не оформлена (подписаться)
						</button>
						{% endif %}
						</span>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</article>
{% endblock %}

{% block misc %}
<script>
	"use strict";

	document.modulesLoaded['user'] = false;

	function userDataAjaxResult(result) {
		var username = result.user.username;
		var lastName = result.user.last_name;
		var firstName = result.user.first_name;
		var subscribersCount = result.subscribers_count;
		var isSubscribed = result.is_subscribed;
		$('#user-field-username').html(username);
		$('#user-field-last-name').html(lastName);
		$('#user-field-first-name').html(firstName);
		$('#user-field-subscribers-count').html(subscribersCount);
		$('#user-field-subscribers-count').html(subscribersCount);
		if (isSubscribed) {
			$('#user-subscribe-button').hide();
			$('#user-unsubscribe-button').show();
		} else {
			$('#user-subscribe-button').show();
			$('#user-unsubscribe-button').hide();
		}
	}

	function userGetData() {
		ajaxGet(
			"{{ object.detail_url }}",
			{},
			userDataAjaxResult
		);
	}

	function userSubscribeAjaxResult(result) {
		userDataAjaxResult(result);
	}

	function userSubscribe(e) {
		e.preventDefault();

		ajaxPost(
			"{{ object.subscribe_url }}",
			{},
			userSubscribeAjaxResult
		);
	}

	function userUnsubscribeAjaxResult(result) {
		userDataAjaxResult(result);
	}

	function userUnsubscribe(e) {
		e.preventDefault();

		ajaxPost(
			"{{ object.unsubscribe_url }}",
			{},
			userUnsubscribeAjaxResult
		);
	}

	function userInit() {
		$('#user-subscribe-button').click(userSubscribe);
		$('#user-unsubscribe-button').click(userUnsubscribe);

		moduleLoaded('user');
	}

	$(document).ready(userInit);
</script>
{% endblock %}