html, body {
    background-color: white;
    color: #000030;
    padding: 0.3rem;
}

html, button, input, select, textarea {
    font-family: monospace;
    font-size: 1rem;
}

article:last-child {
    margin-bottom: 0.9rem;
}

a {
    color: #000030;
    text-decoration: underline;
}

a:hover, a:focus, a:active {
    color: white;
    background-color: #000030;
    text-decoration: underline;
}

figure img {
    max-width: 100%;
}

figcaption {
    font-style: italic;
}

blockquote {
    border-left-style: solid;
    border-left-color: #000030;
    border-left-width: 0.3rem;
    width: inherit;
    padding-left: 1.2rem;
    margin-left: 0.3rem;
}

/*
nav {
    background-color: #000030;
    color: white;
    margin-bottom: 0.9rem;
}
nav ul {
    width: inherit;
    border-left-style: solid;
    border-left-color: #000030;
    border-left-width: 0.3rem;

    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #000030;
    color: white;
}
nav li {
    width: 100%;
}
nav li a {
    text-decoration: none;
    display: block;
    background-color: white;
    color: #000030;
    padding: 0.3rem;
    box-sizing: border-box;
    width: 100%;
}
nav li a:active, nav li a:hover, nav li a:focus {
    background-color: #000030;
    color: white;
}
*/

.navigation-menu {
    border-left-style: solid;
    border-left-color: #000030;
    border-left-width: 0.3rem;
    display: flex;
    margin-bottom: 0.9rem;
    padding-left: 0.6rem;
}

.navigation-menu-element {
    margin-left: 0.9rem;
    margin-top: 0.3rem;
    padding-bottom: 0.3rem;
}

.navigation-menu-element:first-child {
    margin-left: 0;
}

.breadcrumb {
    padding: 0;
    margin: 0;
}

.breadcrumb ul {
    border-left-style: solid;
    border-left-color: #000030;
    border-left-width: 0.3rem;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.breadcrumb-item {
    display: inline-block;
}

.breadcrumb-item a, .breadcrumb-item span {
    display: block;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    box-sizing: border-box;
}

.breadcrumb-item:first-child a, .breadcrumb-item:first-child span {
    padding-left: 0.3rem;
}

header {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0.6rem;
}

.footer {
    background-color: white;
    color: #000030;
    border-style: solid;
    border-color: #000030;
    border-width: 0.3rem;
    padding: 0.3rem;
}

/* TODO:
.table-responsive {
    overflow: scroll;
}
*/

.table-detail {
    border-collapse: collapse;
}

.table-detail th, .table-detail td, .table-detail tr {
    border-style: solid;
    border-color: #000030;
    border-width: 1px;
}

.table-detail th, .table-detail td {
    padding: 0.3rem;
}

.table-detail tr {
    border-style: solid;
    border-color: #000030;
    border-left: none;
    border-right: none;
    text-align: left;
}

.table-list {
    border-collapse: collapse;
}

.table-list th, .table-list td, .table-list tr {
    border-style: solid;
    border-color: #000030;
    border-width: 1px;
}

.table-list th, .table-list td {
    padding: 0.3rem;
}

.table-list tr {
    border-style: solid;
    border-color: #000030;
    border-left: none;
    border-right: none;
    text-align: left;
}

.table-chat {
    border: none;
}

.table-chat tr {
    padding-bottom: 0.3rem;
    padding-top: 0.3rem;
}

.table-chat th, .table-chat td {
    text-align: left;
    vertical-align: top;
}

article {
    background-color: white;
    padding-left: 0.6rem;
    padding-right: 0.3rem;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0.9rem;
    color: #000030;
    overflow: hidden;
    border-left-style: solid;
    border-left-color: #000030;
    border-left-width: 0.3rem;
}

.float-right {
    float: right;
}

.video-poster {
    width: 60rem;
}

/* uni-form style */

.uniForm .ctrlHolder {
    padding: 0.6rem;
    border-bottom: 1px solid #efefef;
}

.uniForm .ctrlHolder.focused {
    background: #fffcdf;
}

.uniForm .buttonHolder {
    margin: 0.6rem 0 0 0;
    padding: 0.6rem;
}