{% for video in object_list %}
<tr>
	<th>
		<a href="{% url 'videohosting:video' video.pk %}" class="simple-link">
			<img src="{{ video.poster.url }}" alt="video.video_name" class="video-poster" />
		</a>
	</th>
	<th>
		<div class="item-header">
			<a href="{% url 'videohosting:video' video.pk %}">
				{{ video.video_name }}
			</a>
		</div>
		{{ video.description }}
	</th>
</tr>
{% endfor %}
