{% for video in object_list %}
<article>
  <a href="{% url 'videohosting:video' video.pk %}">
    <img class="video-poster" src="{% url 'videohosting:video_poster' video.pk %}" alt="{{ video.video_name }}">
  </a>
  <div>
    <h3 class="card-title"><a href="{% url 'videohosting:video' video.pk %}">{{ video.video_name }}</a></h5>
      <p class="card-text">{{ video.description }}</p>
  </div>
</article>
{% endfor %}