{% load static %}
<!DOCTYPE html>
<html lang="ru-RU">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!--https://code.jquery.com/jquery-3.3.1.slim.min.js -->
	<script src="{% static 'arqua/libs/jquery-3.3.1.min.js' %}" crossorigin="anonymous"></script>
	<!-- https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css -->
	<link rel="stylesheet" type="text/css" href="{% static 'arqua/libs/normalize.css' %}" />
	<link rel="stylesheet" href="{% static 'arqua/libs/uni-form.css' %}" type="text/css" />
	<link rel="stylesheet" href="{% static 'arqua/libs/default.uni-form.css' %}" type="text/css" />
	<script src="{% static 'arqua/libs/uni-form.jquery.min.js' %}"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'arqua/styles/style.css' %}" />
	<link rel="icon" type="image/x-icon" sizes="48x48" href="{% static 'arqua/favicon48.ico' %}" />
	<link rel="icon" type="image/x-icon" sizes="32x32" href="{% static 'arqua/favicon32.ico' %}" />
	<link rel="icon" type="image/x-icon" sizes="16x16" href="{% static 'arqua/favicon16.ico' %}" />
	<script src="{% static 'arqua/scripts/main.js' %}"></script>
	{% block headermisc %}{% endblock %}
	<title>{% block title %}{% for page_name, page_url in page_path %}{% if forloop.first %}{% else %}: {% endif %}{{ page_name }}{% endfor %}{% endblock %}</title>
</head>

<body>
	<div id="layout">
		<header class="header">
			<ul class="breadcrumb">{% for page_name, page_url in page_path %}<li class="breadcrumb-item">
					{% if forloop.first %}{% else %}</li>: <li class="breadcrumb-item">{% endif %}{% if page_url %}
					<a href="{{ page_url }}">{{ page_name }}</a>
					{% else %}
					<span>{{ page_name }}</span>
					{% endif %}
				</li>{% endfor %}</ul>
		</header>
		<nav id="menu">
			<div class="navigation-menu" id="navigation-menu-global">
				<div class="navigation-menu-element">
					<a href="{% url 'videohosting:video_recent' %}">[видеохостинг]</a>
				</div>
				<div class="navigation-menu-element">
					<a href="{% url 'telechat:chat' %}">[телечат]</a>
				</div>
				{% if user.is_staff %}
				<div class="navigation-menu-element">
					<a href="{% url 'admin:index' %}">[админпанель]</a>
				</div>
				{% endif %}
				{% if user.is_authenticated %}
				{% if user.profile %}
				<div class="navigation-menu-element">
					<a href="{% url 'userprofiles:user' user.profile.pk %}">[пользователь:{{ user.username }}]</a>
				</div>
				{% else %}
				<div class="navigation-menu-element">
					<a href="{% url 'userprofiles:user_current' %}">[пользователь:{{ user.username }}]</a>
				</div>
				{% endif %}
				<div class="navigation-menu-element">
					<a href="{% url 'password_change' %}">[смена пароля]</a>
				</div>
				<div class="navigation-menu-element">
					<a href="{% url 'logout' %}">[выход]</a>
				</div>
				{% else %}
				<div class="navigation-menu-element">
					<a href="{% url 'login' %}">[вход]</a>
				</div>
				<div class="navigation-menu-element">
					<a href="{% url 'register' %}">[регистрация]</a>
				</div>
				{% endif %}
			</div>
			<div class="navigation-menu" id="navigation-menu-local">
				{% block menu_local %}
				{% endblock %}
			</div>
		</nav>
		<main>
			{% block content %}{% endblock %}
		</main>
		<footer class="footer">
			{% block footer %}
			<p>
				Сайт разработал Виталик Штепсель, адрес для связи: <a
					href="mailto:laling-inc-co@yandex.ru">laling-inc-co@yandex.ru</a>
			</p>
			{% endblock %}
		</footer>
	</div>
	{% block misc %}
	{% endblock %}
</body>

</html>