{% extends 'telechat/base.html' %}

{% block content %}
<article>
	<h2>
		Чат
	</h2>
	<div class="table-responsive">
		<table class="table-chat">
			<tbody id="chat-messages-list">
			</tbody>
		</table>
	</div>
	{% if can_send_message %}
	<div>
		<h2>
			Добавление сообщения
		</h2>
		<div>
			<textarea class="form-control" id="chat-message-add-text" style="width: 100%;"></textarea>
			<div>
				<button id="chat-message-add-button">Отправить</button>
			</div>
		</div>
	</div>
	{% endif %}
</article>
{% endblock %}

{% block misc %}
<script>
	"use strict";

	document.modulesLoaded['chat'] = false;

	var refreshTime = 500;

	function displayChatMessage(message) {
		for (var i in chatMessagesElementsArray) {
			var chatMessageElement = $(chatMessagesElementsArray[i]);
			if (message.pk == chatMessageElement.data('pk')) {
				return;
			}
		}

		var chatMessagesElements = $('#chat-messages-list');
		var chatMessagesElementsArray = chatMessagesElements.children().toArray();

		var pubTimeCell = $('<th scope="row"></th>')
			.text(getFormattedDate(new Date(message.pub_time)));
		var authorCell = $('<th scope="row"></th>')
			.append(getUserElement(message.author));
		var textCell = $('<td></td>').text(message.text);
		var messageRow = $('<tr></tr>')
			.append(pubTimeCell)
			.append(authorCell)
			.append(textCell)
			.data('pubTime', message.pub_time)
			.data('pk', message.pk);

		if (chatMessagesElementsArray.length > 0) {
			$(chatMessagesElementsArray).first().before(messageRow);
		} else {
			chatMessagesElements.append(messageRow);
		}
	}

	function sortChatMessages() {
		var chatMessagesElements = $('#chat-messages-list');
		sortChildren(chatMessagesElements, (a, b) =>
			$(a).data('pubTime') > $(b).data('pubTime')
				? 1 : -1);
	}

	function chatMessagesAjaxResult(result) {
		var messages = null;
		if ($.isArray(result)) {
			messages = result;
		} else {
			messages = result.results;
		}
		for (var i in messages) {
			displayChatMessage(messages[i]);
		}
		sortChatMessages();
	}

	function chatMessagesAjaxResultFunc(callback) {
		return function (result) {
			chatMessagesAjaxResult(result);
			callback();
		}
	}

	function chatMessagesGetRecent(callback, limit = 10) {
		ajaxGet(
			"{% url 'telechat:chatmessage-list' %}",
			{
				'limit': limit,
				'ordering': '-pub_time'
			},
			chatMessagesAjaxResultFunc(callback)
		);
	}

	function chatMessagesGetAfterNewest() {
		var chatMessagesElements = $('#chat-messages-list').children();
		if (chatMessagesElements.length == 0) {
			chatMessagesGetRecent(emptyFunc);
		} else {
			var newestPubTime = chatMessagesElements.last().data('pubTime');

			ajaxGet(
				"{% url 'telechat:chatmessage-list' %}",
				{
					'pub_time_after': newestPubTime,
					'ordering': '-pub_time'
				},
				chatMessagesAjaxResult
			);
		}
	}

	function chatMessagesGetBeforeOldest(limit = 10) {
		var chatMessagesElements = $('#chat-messages-list').children();
		if (chatMessagesElements.length == 0) {
			chatMessagesGetRecent(emptyFunc);
		} else {
			var oldestPubTime = chatMessagesElements.first().data('pubTime');

			ajaxGet(
				"{% url 'telechat:chatmessage-list' %}",
				{
					'pub_time_before': oldestPubTime,
					'ordering': '-pub_time',
					'limit': limit,
				},
				chatMessagesAjaxResult
			);
		}
	}

	function chatMessageAddAjaxResult(result) {
		chatMessagesGetAfterNewest();
	}

	function chatMessageAdd(e) {
		e.preventDefault();

		var messageText = $('#chat-message-add-text').val();
		if (messageText.length == 0) {
			return;
		}
		if (messageText.length > 250) {
			$('#chat-message-add-text').val(messageText.substr(0, 1000));
		} else {
			ajaxPost(
				"{% url 'telechat:chatmessage-list' %}",
				{
					'text': messageText
				},
				chatMessageAddAjaxResult
			);
			$('#chat-message-add-text').val('');
		}
	}

	function chatMessageAddTextKeypress(e) {
		if (e.which == 13) {
			chatMessageAdd(e);
		}
	}

	function timerFunc() {
		chatMessagesGetAfterNewest();
		setTimeout(timerFunc, refreshTime);
	}

	function chatInit() {
		$('#chat-message-add-text').keypress(chatMessageAddTextKeypress);
		$('#chat-message-add-button').click(chatMessageAdd);

		chatMessagesGetRecent(function () {
			moduleLoaded('chat');
			timerFunc();
		}
		);
	}

	$(document).ready(chatInit);
</script>
{% endblock %}

{# TODO: load some messages when rendering template #}